body {
	padding-right: 11em;
	direction: rtl;
	text-align: right;
	padding-left: 11em;
	font-family: Arial;
	font-style: normal;
	font-size: 30px;
	background-color: yellow;
}

ul.navbar {
	direction: rtl;
	text-align: right;
	position: absolute;
	top: 50px;
	right: 20px;
	width: 9em;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
ul.navbar li {
	direction: rtl;
	text-align: right;
	background: orange;
	margin: 0.5em 0;
	padding: 0.3em;
	color: purple;
	text-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.2em red;
}
ul.navbar a {
	text-decoration: none;
}
a:link {
	color: blue;
}
a:visited {
	color: purple;
}

h1 {
	margin: 0 auto;
	font-family: "New York";
	font-style: italic;
	color: blue;
	text-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.2em red;
}
img {
	position: fixed;
	top: 50px;
	left: 10px;
}
address {
	position: fixed;
	bottom: 50px;
	color: green;
	height: 20px;
}
p {
	color: red;
	height: 30px;
}
